@import '_variables.scss';

.list {
    width: 100%;
    cursor: pointer;

    & li:nth-child(even) {
        background-color: rgba($black, 0.25);
    }
}


.list-item {
    padding: 15px 25px;
    border: 2px solid transparent;
    margin: 2px 0;
    font-weight: bold;
    cursor: pointer;

    &:hover,
    :active,
    .active {
        background-color: rgba($primary, 0.75) !important;
        border-color: $primary;
    }

    &.active {
        background-color: rgba($primary, 0.75) !important;
        border-color: $primary;
    }
}

.list-alt {
    width: 100%;
}

.list-item-alt {
    display: flex;
    width: 100%;
    margin: 4px 0;
    border: 2px solid $dark;
    background-color: rgba($dark, 0.75);
    cursor: pointer;

    &:hover {
        background-color: rgba($primary, 0.75);
        border-color: $primary;
    }
}

.list-item-alt-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    margin: -2px;
    background-color: rgba($primary, 0.75);
    border: 2px solid $primary;
}

.list-item-alt-content {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 25px;
}
