@import '_variables';

.panel {
    margin-top: 20px;
    width: 100%;
    // animation: 250ms ease-in bounce;
}

.panel-title {
    width: 100%;
    background: rgba($black, 0.75);
    padding: 15px 25px;
    font-weight: bold;
    font-size: $font-m;
    cursor: pointer;
}

.panel-title-alt {
    @extend .panel-title;
    border: 2px solid $primary;
    background: rgba($primary, 0.75);
}

.panel-nav {
    float: right;
    cursor: pointer;
}

.panel-content {
    background: rgba($dark, 0.5);
}

.panel-att {
    background: rgba($black, 0.35);
}

.panel-item {
    padding: 10px 25px;
}

.panel-item-alt {
    @extend .panel-item;
    background: rgba($black, 0.35);
}
