@import '_variables';

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $dark;
}

::-webkit-scrollbar-thumb:hover {
    background-color:  rgba($dark, 0.75);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba($white, 0.5);
}
