@import '_variables';

.player-banner {
    position: absolute;
    right: 0;
    width: 100%;
    text-align: right;
    padding: 30px;
    background-color: rgba($primary, 0.25);
    border-bottom: 2px solid $primary;
    border-left: 2px solid $primary;
    border-right: 2px solid $primary;
    z-index: -999;
    height: 225px;
}

.player-number {
    font-family: $font-primary;
    font-size: 160px;
    line-height: 160px;

    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.player-header {
    margin-top: 25px;
    padding: 0 25px;
}

.player-image {
    margin-top: 25px;
    float: left;
}
