<ng-container *ngIf="player">
	<div class="row">
		<div class="col-md-4">
			<panel name="Estimated value" [collapsible]="false">
				<ul class="list">
					<li class="list-item active font-size">
						<h4 class="p-0"><span  style="padding: 0 5px; margin-right: 10px;">€</span> {{player.value | number}}</h4>
					</li>
					<li class="list-item text-uppercase">
						<club-logo id="4" class="mr-3"></club-logo>
						{{player.clubName}}
					</li>
				</ul>
			</panel>
			<panel name="Details">
				<ul class="list">
					<li class="list-item">
						<flag [id]="player.countryId" class="mr-3"></flag>
						{{player.countryId | country}}
					</li>
					<li class="list-item">
						€ {{player.salary | number}} / week
					</li>
					<li class="list-item">
						Contracted {{player.contractLength}} seasons
					</li>
					<li class="list-item">
						{{player.height}} cm / {{player.weight}} kg
					</li>
				</ul>
			</panel>
			<panel name="Condition">
				<div class="panel-item b p-4">
					<fitness [value]="player.fitness" [showText]="true" size="L"></fitness>
				</div>
			</panel>
		</div>

		<div class="col-md-8">
			<panel name="Technical Attributes">
				<rating name="Attacking" [value]="player.attacking"></rating>
				<rating name="Defending" [value]="player.defending" [alt]="true"></rating>
				<rating name="Goalkeeping" [value]="player.goalkeeping"></rating>
				<rating name="Passing" [value]="player.passing" [alt]="true"></rating>
				<rating name="Shooting" [value]="player.shooting"></rating>
				<rating name="Heading" [value]="player.heading" [alt]="true"></rating>
			</panel>
			<panel name="Physical Attributes">
				<rating name="Quickness" [value]="player.quickness"></rating>
				<rating name="Strength" [value]="player.strength" [alt]="true"></rating>
			</panel>
			<panel name="Stats">
				<table>
					<thead class="panel-title-alt">
						<th></th>
						<th>Matches</th>
						<th>Goals</th>
						<th>Assists</th>
					</thead>
					<tbody>
						<tr class="panel-content">
							<td><b>Season</b></td>
							<td>{{player.seasonMatches}}</td>
							<td>{{player.seasonGoals}}</td>
							<td>{{player.seasonAssists}}</td>
						</tr>
						<tr>
							<td><b>Career</b></td>
							<td>{{player.careerMatches}}</td>
							<td>{{player.careerGoals}}</td>
							<td>{{player.careerAssists}}</td>
						</tr>
					</tbody>
				</table>
			</panel>
		</div>
	</div>
</ng-container>
