@import '_variables';

.p-tooltip {
    width: 400px;
    background-color: rgba($dark, 0.9);
    border: 2px solid rgba($black, 0.5);
    margin-top: 5px;
    z-index: 1;
}

.p-tooltip-info {
    width: 100%;
    display: flex;
    background-color: rgba($black, 0.5);
    align-items: center;
    padding: 15px;
}
