<ng-container *ngIf="player$|async; let model">
	<loader [show]="model.loading"></loader>
	<ng-container *ngIf="model.data; let player">
		<div class="row mt-3">
			<div class="col-sm-4">
				<div class="player-banner">
					<player-image [id]="player.avatar" size="XL" class="player-image"></player-image>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="player-header">
					<div>
						<h1>{{positions[player.position]}}</h1>
						<h4><b>{{player.name}} {{player.surname}}</b></h4>
						<h6>{{player.age[0]}} years / {{player.age[1]}} days</h6>
					</div>
					<span class="player-number">
						{{player.shirtNumber}}
					</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<panel name="Estimated value" [collapsible]="false">
					<ul class="list">
						<li class="list-item active font-size">
							<h4 class="p-0"><span style="padding: 0 5px; margin-right: 10px;">€</span> {{player.value | number}}</h4>
						</li>
						<li class="list-item text-uppercase">
							<club-logo id="4" class="mr-3"></club-logo>
							{{player.clubName}}
						</li>
					</ul>
				</panel>
				<panel name="Details">
					<ul class="list">
						<li class="list-item">
							<flag [id]="player.countryId" class="mr-3"></flag>
							{{player.countryId | country}}
						</li>
						<li class="list-item">
							€ {{player.salary | number}} / week
						</li>
						<li class="list-item">
							Contracted {{player.contractLength}} seasons
						</li>
						<li class="list-item">
							{{player.height}} cm / {{player.weight}} kg
						</li>
					</ul>
				</panel>
				<panel name="Condition" class="d-none d-md-block">
					<div class="panel-item b p-4">
						<fitness [value]="player.fitness" [showText]="true" size="L"></fitness>
					</div>
				</panel>
			</div>
			<div class="col-md-8">
				<tabs>
					<tab name="Stats" [isWrapped]="false">
						<player-stats [player]="player"></player-stats>
					</tab>
					<tab name="Contract">
						Contract
					</tab>
					<tab name="Transfer">
						Transfer
					</tab>
				</tabs>
			</div>
		</div>
	</ng-container>
</ng-container>
