@import '_variables';

.player-banner {
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 25px;
    background-color: rgba($dark, 0.75);
    border: 2px solid $dark;
}

.player-header {
    min-height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    width: 100%;
    background-color: rgba($dark, 0.75);
}

.player-number {
    font-family: $font-highlight;
    font-size: 160px;
    font-style: italic;
    color: mix($dark, white);
    line-height: 160px;
    padding: 0 25px;
}
