@import '_variables';

.name {
    font-size: $font-m;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px;
}

.position {
    font-size: $font-m;
    font-weight: 900;
}

.banner {
    position: relative;
    text-align: center;
    background-color: rgba($black, 0.5);
    border: 1px solid rgba($dark, 0.5);
}

.player-image {
    padding-top: 15px;
    height: 100%;
}

.flag {
    position: absolute;
    top: 5%;
    left: 5%;
}
.banner-icons {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 0;

    & li {
        background-color: rgba($dark, 0.75);
        width: 100%;
        height: 50px;
        line-height: 50px;
        margin: 1px;
        border: 1px solid $dark;
        vertical-align: center;
    }

}


.shirt {
    font-size: 30px;
    margin-top: -5px;

    & i {
        width: 50px;
    }

    & span {
        font-size: $font-s;
        color: $dark;
        font-family: $font-highlight;

    }
}
