@import '_variables';

.rating {
    display: flex;
    align-items: center;
    width: 100%;
}

.rating span {
    width: 175px;
}

.rating-bar {
    text-align: right;
    width: 100%;
    border: 2px solid rgba($white, 0.05);
    background-color: rgba($dark, 0.5);
}

.rating-value {
    height: 25px;
    background-color: rgba($primary, 0.65);
    animation: 1s ease-out slideInFromLeft;
}

.s .rating-value  {
    height: 12px;
}

.s span  {
    font-size: 11px;
}

@keyframes slideInFromLeft {
    0% {
        width: 0;
    }

    100% {
        width: var(--v + '%');
        ;
    }
}
