<ng-container *ngIf="players$|async; let model">
	<panel name="Players" [collapsible]="false" [error]="model.error">
		<ng-container *ngIf="model.data; let players">
			<div id="filters" class="panel-title-alt">
				<div>Filters</div>
				<div class="views">
					<span data-tooltip="Grid view" (click)="changeView('grid')" [class.active]="activeView === 'grid'"><i class="fa fa-th-large"></i></span>
					<span data-tooltip="List view" (click)="changeView('list')" [class.active]="activeView === 'list'"><i class="fa fa-list"></i></span>
				</div>
			</div>
			<ng-container *ngIf="activeView === 'list'">
				<player-list [players]="players" [tooltip]="true"></player-list>
			</ng-container>
			<ng-container *ngIf="activeView === 'grid'">
				<div class="grid-player" [routerLink]="['/player', player.id]" [class.alt]="i % 2" *ngFor="let player of players; let i = index">
					<div class="row">
						<div class="col-lg-6 col-md-12">
							<div class="grid-player-details">
								<player-image [id]="player.avatar" size="L"></player-image>
								<div>
									<h1>{{positions[player.position]}}</h1>
									<h4><b>{{player.name}} {{player.surname}}</b></h4>
									<h6>{{player.age[0]}} years / {{player.age[1]}} days</h6>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<rating name="Attacking" [value]="player.attacking" size="S"></rating>
							<rating name="Defending" [value]="player.defending" size="S"></rating>
							<rating name="Goalkeeping" [value]="player.goalkeeping" size="S"></rating>
							<rating name="Passing" [value]="player.passing" size="S"></rating>
						</div>
						<div class="col-lg-3 col-md-6">
							<rating name="Shooting" [value]="player.shooting" size="S"></rating>
							<rating name="Heading" [value]="player.heading" size="S"></rating>
							<rating name="Quickness" [value]="player.quickness" size="S"></rating>
							<rating name="Strength" [value]="player.strength" size="S"></rating>
						</div>
					</div>
				</div>
			</ng-container>
		</ng-container>
	</panel>
</ng-container>
