$primary: #099999;
$dark: #2a323a;
$accent: greenyellow;
$light: #ffffff;
$black: #000000;
$white: #ffffff;
$error: red;
$warning: gold;

$text-primary: $light;
$text-secondary: $dark;

$font-primary: primary;
$font-highlight: font-highlight;
$font-default: touchline;

$font-xl: 32px;
$font-l: 24px;
$font-m: 18px;
$font-s: 14px;
$font-xs: 10px;

@font-face {
    font-family: primary;
    src: url(/styles/fonts/primary.woff2);
}

@font-face {
    font-family: font-highlight;
    src: url(/styles/fonts/highlight.otf);
}

@font-face {
    font-family: touchline;
    src: url(/styles/fonts/default.ttf);
}

$sidebar-width: 250px;

truncate {
    white-space: nowrap!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
}

@keyframes bounce {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    25% {
        transform: scale(.25);
        opacity: 1;
    }

    50% {
        transform: scale(.5);
        opacity: 1;
    }

    75% {
        transform: scale(.75);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}
