@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

@import '_variables.scss';
@import './ui/_nav-list.scss';
@import './ui/_tabs.scss';
@import './ui/_panel.scss';
@import './ui/_forms.scss';
@import './ui/_button.scss';
@import './ui/_circle.scss';
@import './ui/_tooltip.scss';

body {
    background-color: $dark !important;
    color: $light !important;
    background-image: url(/assets/images/background.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-size: $font-s !important;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

h1,
h2,
h3 {
    font-family: $font-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
    padding: 5px;
}

h1,
h2 {
    font-size: $font-xl!important;
}

h3,
h4 {
    font-size: $font-l!important;
}

h5,
h6 {
    font-size: $font-m!important;
}

p {
    padding: 5px;
    font-family: $font-default;
}

span {
    font-family: $font-default;
}

.f-primary {
    font-family: $font-primary;
}

.b {
    font-weight: bold;
}

@import "~bootstrap/scss/bootstrap";
@import 'bootstrap.scss';
