@import '_variables.scss';
@import './ui/nav-list.scss';
@import './ui/tabs.scss';
@import './ui/box.scss';

body {
    background-color: $dark !important;
    color: $light !important;
    background-image: url(/assets/images/background.jpg);
    background-attachment: fixed;
    background-position: center center;
    font-size: $font-s !important;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

h1,
h2,
h3 {
    font-family: $font-primary;
}

p {
    font-family: $font-default;
}

.f-primary {
    font-family: $font-primary;
}

@import "../../node_modules/bootstrap/scss/bootstrap";
@import 'bootstrap.scss';
