<div class="fitness">
    <ng-container *ngIf="value <= 50">
        <p *ngIf="showText">Player is in a very bad physical condtion.</p>
        <circle-progress [percent]="value" [size]="size" color="red"></circle-progress>
    </ng-container>
    <ng-container *ngIf="value > 50 && value <=70">
        <p *ngIf="showText">Player is in a bad shape.</p>
        <circle-progress [percent]="value" [size]="size" color="orange"></circle-progress>
    </ng-container>
    <ng-container *ngIf="value> 70 && value <=90">
        <p *ngIf="showText">Player could do with some rest.</p>
        <circle-progress [percent]="value" [size]="size" color="yellow"></circle-progress>
    </ng-container>
    <ng-container *ngIf="value > 90 && value <=100">
        <p *ngIf="showText">Player has an optimal physical condition.</p>
        <circle-progress [percent]="value" [size]="size" color="green"> </circle-progress>
    </ng-container>
</div>
