<div class="container">
	<tabs>
		<tab name="About">
			<div class="p-5">
				<p>
					<span class="f-primary">Touchline</span> is a football manager game where you gain control of your
					own
					virtual football club. In the life as the manager you are the boss and have to control finances,
					tactics for matches and buy players. You will join an online universe with other human controlled
					clubs,
					competing to win the national trophy.
				</p>
				<p>
					The game is free to play and the schedule is fixed. Your team will play league matches once a week.
				</p>
			</div>
		</tab>
		<tab name="Login">
			<div class="p-5">
				<form>
					<div class="form-group mb-5">
						<input type="text" id="username" placeholder="Username">
					</div>
					<div class="form-group mb-5">
						<input type="password" id="password" placeholder="Password">
					</div>
					<button class="btn btn-primary" (click)="login()"><b>LOGIN</b></button>
				</form>
			</div>
		</tab>
		<tab name="Signup">
			<div class="p-5">
				Create a new account.
			</div>
		</tab>
		<tab name="Facebook">
			Facebook
		</tab>
		<tab name="google">
			Google
		</tab>
	</tabs>
</div>

<footer class="fixed-bottom"></footer>
