<div class="container">
	<tabs>
		<tab title="About">
			<p>
				<span class="f-primary">Touchline</span> is a football manager game where you gain control of your own
				virtual football club. In the life as the manager you are the boss and have to control finances,
				tactics for matches and buy players. You will join an online universe with other human controlled clubs,
				competing to win the national trophy.
			</p>
			<p>
				The game is free to play and the schedule is fixed. Your team will play league matches once a week.
			</p>
		</tab>
		<tab title="Login">
			<button class="btn btn-primary" (click)="login()">LOGIN</button>
		</tab>
		<tab title="Signup">
			Signup
		</tab>
		<tab title="Facebook">
			Facebook
		</tab>
		<tab title="google">
			Google
		</tab>
	</tabs>
</div>

<footer title="Touchline" class="fixed-bottom"></footer>
