@import '_variables';

.player {
    font-weight: bold;
    justify-content: space-between;
}

.player-no {
    width: 30px;
    display: inline-block;
}

.player-flag {
    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.player-stats {
    display: flex;
    align-items: center;

    * {
        margin-left: 15px;
    }
}

.player-tooltip {
    display: none;
    position: absolute;
}

.player-details:hover .player-tooltip {
    display: block;
}
