<div class="d-flex">
	<div class="sidebar" [class.collapsed]="showMenu">
		<h1 class="sidebar-header">Touchline</h1>
		<div class="sidebar-content">
			<ul id="menu" class="nav-list">
				<li routerLink="home" routerLinkActive="active" class="nav-list-item">
					<i class="fa fa-home"></i>Home
				</li>
				<li routerLink="players" routerLinkActive="active" class="nav-list-item">
					<i class="fa fa-users"></i>Team
				</li>
				<li routerLink="tactics" routerLinkActive="active" class="nav-list-item">
					<i class="fa fa-users"></i>Tactics
				</li>
				<li routerLink="league/1" routerLinkActive="active" class="nav-list-item">
					<i class="fa fa-clipboard-list"></i>League
				</li>
			</ul>
			<ul class="nav-list">
				<li routerLink="settings" routerLinkActive="active" class="nav-list-item">
					<i class="fa fa-cog"></i>Settings
				</li>
				<li class="nav-list-item" (click)="logout()">
					<i class="fa fa-sign-out-alt"></i>Log out
				</li>
			</ul>
		</div>
	</div>
	<div class="wrapper" [class.collapsed]="showMenu">
		<nav class="navigation">
			<div id="search-box">
				<i class="fa fa-search"></i>
				<input type="text" />
			</div>
			<div id="toggle-menu" (click)="toggleMenu()">
				<i class="fa fa-bars"></i>
			</div>
		</nav>
		<div class="container">
			<ng-content></ng-content>
		</div>
		<div id="footer"></div>
	</div>

</div>
