<div class="d-flex" id="wrapper">
	<div class="sidebar" [class.d-none]="showMenu">
		<h1>Touchline</h1>
		<ul class="nav-list">
			<li routerLink="home" routerLinkActive="active" class="nav-list-item">Home</li>
			<li routerLink="login" routerLinkActive="active" class="nav-list-item">Team</li>
		</ul>
	</div>
	<div class="content">
		<nav class="navigation ">
			<div id="search-box">
				<i class="fa fa-search"></i>
				<input type="text" />
			</div>
			<div id="toggle-menu" (click)="toggleMenu()">
				<i class="fa fa-bars"></i>
			</div>
		</nav>
		<div class="container-fluid">
			<ng-content></ng-content>
		</div>
	</div>

</div>

<div id="footer">
	Touchline
</div>
