@import '_variables';

.league {
    background-color: rgba($dark, 0.75);
    margin-bottom: 10px;
    font-size: $font-m;
}

.stadium-name {
    position: absolute;
    padding: 10px;
    padding-left: 25px;
}
